.page-title {
  display: flex;
  align-items: flex-end;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid rgba(201, 201, 201, 0.445);
}

.subtitle {
  color: rgb(160, 159, 159);
  padding-bottom: 6px;
  margin-left: 16px;
}